In [1]:
import pandas as pd

## Chapter 4 - Series

- Pandas series are object type if they are not heterogenous
- If all are integers and one value is `NAN` or `None` the the type ends up as `float64`
- If you still want integer object with `NAN` then the `int64` type should be changed to `Int64`

In [2]:
class Foo:
    pass
ringo = pd.Series(['Richard ', 'Starkey ', 13, Foo()],name='ringo')
ringo

0                                       Richard
1                                       Starkey
2                                             13
3    <__main__.Foo object at 0x00000175D1FC8CD0>
Name: ringo, dtype: object

In [3]:
nan_series = pd.Series ([2, None],index=['Ono ', 'Clapton '])
nan_series

Ono         2.0
Clapton     NaN
dtype: float64

In [4]:
nan_series2 = pd.Series ([2, None],index=['Ono ', 'Clapton '],dtype="Int64")
nan_series2

Ono            2
Clapton     <NA>
dtype: Int64

- When loading you ca identify data as being categorical and if order is needed `CategoricalDtype` or `cat.reorder_categories` is used

In [5]:
s = pd.Series(["m","l","xs","s","l"], dtype="category")
s

0     m
1     l
2    xs
3     s
4     l
dtype: category
Categories (4, object): ['l', 'm', 's', 'xs']

In [6]:
s2 = pd.Series(['m', 'l', 'xs', 's', 'xl'])
size_type = pd.api.types.CategoricalDtype(categories =['xs','s','m','l','xl'], ordered=True)
s3 = s2.astype(size_type)
s3

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [7]:
sorted(s3) #python buily-in function sorts as string

['l', 'm', 's', 'xl', 'xs']

In [8]:
sort_values = s3.sort_values(ascending=False) #pandas method correctly sorts
sort_values

4    xl
1     l
0     m
3     s
2    xs
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

- keywords
- built-in functions
- methods
- attributes / properties

In [9]:
# Exercises
tempur = pd.Series([10,12,10,9,8,15,16], index=["Mon", "Tue", "Wed", "Thu", "Fri","Sat", "Sun"])
mean_tempur = tempur.mean()
tempur[tempur < mean_tempur], mean_tempur

(Mon    10
 Wed    10
 Thu     9
 Fri     8
 dtype: int64,
 11.428571428571429)

In [10]:
colors = pd.Series(["red","blue","white","black"], dtype="category")
colors

0      red
1     blue
2    white
3    black
dtype: category
Categories (4, object): ['black', 'blue', 'red', 'white']

## Chapter 5&6 - Series Deep Dive

In [11]:
# url = "https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip"
# df = pd.read_csv(url)
# df.to_csv("car.csv")
df = pd.read_csv("car.csv")

C:\Users\cenkt\AppData\Local\Temp\ipykernel_2072\1526739285.py:4: DtypeWarning: Columns (69,71,72,73,74,75,77,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("car.csv")

In [12]:
df

,Unnamed: 0,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41139,41139,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41140,41140,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41141,41141,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41142,41142,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41143,41143,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [13]:
city_mpg =df.city08
highway_mpg =df.highway08
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [14]:
#Exercises
city_mpg+city_mpg

0        38
1        18
2        46
3        20
4        34
         ..
41139    38
41140    40
41141    36
41142    36
41143    32
Name: city08, Length: 41144, dtype: int64

In [15]:
city_mpg.add(city_mpg)

0        38
1        18
2        46
3        20
4        34
         ..
41139    38
41140    40
41141    36
41142    36
41143    32
Name: city08, Length: 41144, dtype: int64

In [16]:
city_mpg+10

0        29
1        19
2        33
3        20
4        27
         ..
41139    29
41140    30
41141    28
41142    28
41143    26
Name: city08, Length: 41144, dtype: int64

In [17]:
city_mpg.add(10)

0        29
1        19
2        33
3        20
4        27
         ..
41139    29
41140    30
41141    28
41142    28
41143    26
Name: city08, Length: 41144, dtype: int64

## Chapter 7 - Aggregation

In [18]:
city_mpg.mean() #aggregation methods

18.369045304297103

In [19]:
city_mpg.is_unique # aggregation properties

False

In [20]:
print(city_mpg.quantile())
print(city_mpg.quantile(.7))
print(city_mpg.quantile([.1,.3,.85]))

17.0
20.0
0.10    13.0
0.30    15.0
0.85    22.0
Name: city08, dtype: float64

In [21]:
city_mpg.gt(20).mean()

0.24965973167412017

In [22]:
city_mpg.agg(["mean", "max"]) # if you want to calculate various aggregations use string versions

mean     18.369045
max     150.000000
Name: city08, dtype: float64

In [23]:
def print_s(s):
    return 2*s

city_mpg.agg(print_s) # can agg any user defined function or imported library function like np.var

0        38
1        18
2        46
3        20
4        34
         ..
41139    38
41140    40
41141    36
41142    36
41143    32
Name: city08, Length: 41144, dtype: int64

In [24]:
# Execsices
city_mpg.isna().sum()

0

In [25]:
city_mpg.size

41144

In [26]:
city_mpg.nunique()

105

In [27]:
city_mpg.mean()

18.369045304297103

In [28]:
city_mpg.max()

150

In [29]:
city_mpg.agg(["count", "size","nunique", "mean", "max"])

count      41144.000000
size       41144.000000
nunique      105.000000
mean          18.369045
max          150.000000
Name: city08, dtype: float64

## Chapter 8 - Conversions

In [30]:
from pathlib import Path

In [31]:
Path.home()

WindowsPath('C:/Users/cenkt')

In [32]:
Path.cwd()

WindowsPath('c:/Users/cenkt/OneDrive/Documents/CourseMaterial/Python/EffectivePandasBook')

In [33]:
city_mpg.dtype

dtype('int64')

In [34]:
city_mpg.unique()

array([ 19,   9,  23,  10,  17,  21,  22,  18,  12,  20,  14,  11,  15,
        13,  16,  25,  24,  26,  31,  27,  30,  38,  28,  43,  35,  33,
        29,  39,  37,   8,   7,  34,  32,  36,  49,  81,  45,  48,  42,
         6,  44,  74,  84,  40,  87,  41,  51,  62,  59,  79,  50,  52,
       102, 106,  94, 126,  53, 107,  77, 110,  88, 132, 122, 138,  78,
        60,  47, 129,  93, 128,  61, 137,  85, 120,  86,  89,  95, 101,
        90, 124, 121,  54,  58,  91,  97,  73,  98,  92, 150,  55,  57,
        46, 118, 112, 131, 136,  83, 125,  80, 123, 127, 114, 140, 115,
       104], dtype=int64)

In [35]:
city_mpg.value_counts()

15     4503
18     4053
17     4035
16     3975
19     3012
       ...
127       1
114       1
140       1
115       1
104       1
Name: city08, Length: 105, dtype: int64

In [36]:
city_mpg.astype("Int16")

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int16

In [37]:
city_mpg.dtype

dtype('int64')

In [38]:
city_mpg.nbytes

329152

In [39]:
city_mpg.astype("Int16").nbytes

123432

In [40]:
make = df.make
make.memory_usage(deep=True)

2606395

In [41]:
make.astype("category").memory_usage(deep=True) # turningg strings into categort reduces memory usage

95888

In [42]:
city_mpg.astype("category")

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6, 7, 8, 9, ..., 137, 138, 140, 150]

In [43]:
df.dtypes

Unnamed: 0      int64
barrels08     float64
barrelsA08    float64
charge120     float64
charge240     float64
               ...
modifiedOn     object
startStop      object
phevCity        int64
phevHwy         int64
phevComb        int64
Length: 84, dtype: object

In [44]:
df.barrels08.astype("float16").dtype

dtype('float16')

In [45]:
df.barrels08.nbytes

329152

In [46]:
df.barrels08.astype("float16").nbytes

82288

In [47]:
percent = df.barrels08.nbytes/df.barrels08.astype("float16").nbytes
print(f"percent saving is{percent: .2%}")

percent saving is 400.00%

In [48]:
df.select_dtypes("object")

,drive,eng_dscr,fuelType,fuelType1,make,model,mpgData,trany,VClass,guzzler,...,atvType,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,c240bDscr,createdOn,modifiedOn,startStop
0,Rear-Wheel Drive,(FFS),Regular,Regular Gasoline,Alfa Romeo,Spider Veloce 2000,Y,Manual 5-spd,Two Seaters,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN
1,Rear-Wheel Drive,(GUZZLER),Regular,Regular Gasoline,Ferrari,Testarossa,N,Manual 5-spd,Two Seaters,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN
2,Front-Wheel Drive,(FFS),Regular,Regular Gasoline,Dodge,Charger,Y,Manual 5-spd,Subcompact Cars,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN
3,Rear-Wheel Drive,NaN,Regular,Regular Gasoline,Dodge,B150/B250 Wagon 2WD,N,Automatic 3-spd,Vans,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN
4,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",Premium,Premium Gasoline,Subaru,Legacy AWD Turbo,N,Manual 5-spd,Compact Cars,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41139,Front-Wheel Drive,(FFS),Regular,Regular Gasoline,Subaru,Legacy,N,Automatic 4-spd,Compact Cars,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN
41140,Front-Wheel Drive,(FFS),Regular,Regular Gasoline,Subaru,Legacy,N,Manual 5-spd,Compact Cars,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN
41141,4-Wheel or All-Wheel Drive,(FFS),Regular,Regular Gasoline,Subaru,Legacy AWD,Y,Automatic 4-spd,Compact Cars,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN
41142,4-Wheel or All-Wheel Drive,(FFS),Regular,Regular Gasoline,Subaru,Legacy AWD,Y,Manual 5-spd,Compact Cars,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN
41143,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",Premium,Premium Gasoline,Subaru,Legacy AWD Turbo,N,Automatic 4-spd,Compact Cars,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN

In [49]:
df.trany.astype("category")

0           Manual 5-spd
1           Manual 5-spd
2           Manual 5-spd
3        Automatic 3-spd
4           Manual 5-spd
              ...
41139    Automatic 4-spd
41140       Manual 5-spd
41141    Automatic 4-spd
41142       Manual 5-spd
41143    Automatic 4-spd
Name: trany, Length: 41144, dtype: category
Categories (37, object): ['Automatic (A1)', 'Automatic (AM-S6)', 'Automatic (AM-S7)', 'Automatic (AM-S8)', ..., 'Manual 4-spd Doubled', 'Manual 5-spd', 'Manual 6-spd', 'Manual 7-spd']

In [50]:
percent = df.trany.nbytes/df.trany.astype("category").nbytes
print(f"percentage saving ={percent: 0.2%}")

percentage saving = 794.29%

## Chapter 9 - Manupilation Methods